*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 61.5%; }

body {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  color: whitesmoke; }

main {
  background-image: linear-gradient(to bottom, #5b89a6, #021526);
  height: 100vh; }

.header {
  border-bottom: 1px solid whitesmoke;
  width: 80%;
  margin: 0 auto; }

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  padding: 1rem 0; }

.main {
  width: 50%;
  margin: 0 auto; }

input {
  display: block;
  padding: 1rem;
  margin: 2rem auto 1.5rem auto;
  color: whitesmoke;
  font-size: 1.6rem;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid whitesmoke;
  width: 19rem; }
  input::placeholder {
    color: whitesmoke; }
  input, input text-area {
    background-color: #a3b2BF; }
  input:focus {
    outline: none; }

#Hexagram {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  color: whitesmoke; }

.cast-btn {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  align-content: center;
  font-weight: 300;
  font-size: 1.6rem;
  width: 19rem;
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid whitesmoke;
  background-color: #6b98bf;
  border-radius: 3px;
  color: whitesmoke;
  box-shadow: 0 1rem 2rem rgba(2, 21, 38, 0.2); }
  .cast-btn:hover {
    cursor: pointer; }
  .cast-btn::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .cast-btn:focus, .cast-btn:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(2, 21, 38, 0.2); }

.line {
  width: 8rem;
  margin: 0 auto; }
  .line.old-yang {
    content: url(../assets/images/lines/old-yang.svg); }
  .line.old-yin {
    content: url(../assets/images/lines/old-yin.svg); }
  .line.young-yang {
    content: url(../assets/images/lines/young-yang.svg); }
  .line.young-yin {
    content: url(../assets/images/lines/young-yin.svg); }
