*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 61.5%; }

body {
  letter-spacing: 2px;
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  color: #bfbfbf; }

main {
  background: #1e1e1e;
  height: 100vh; }

.header {
  border-bottom: 1px solid #bfbfbf;
  width: 80%;
  margin: 0 auto; }

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  padding: 1rem 0; }

.cast-area {
  display: none;
  width: auto;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  margin: 2rem 10%;
  padding: 2rem; }

input {
  display: block;
  padding: 1rem;
  margin: 2rem auto;
  color: #bfbfbf;
  font-size: 1.6rem;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  width: 19rem; }
  input::placeholder {
    color: #777; }
  input,
  input text-area {
    background-color: #1e1e1e; }
  input:focus {
    outline: none; }

.hexagrams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center; }

.hexagram-details-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; }

.hex-details {
  font-size: 130%;
  width: 8rem;
  overflow-wrap: break-word; }

.changed-hexagram-details {
  display: none;
  margin-left: 7rem; }

.hexagram-lines-section {
  display: flex;
  justify-content: space-between; }

.hex-lines {
  width: 8rem; }

.changed-hexagram-lines {
  display: none; }

.hexNum,
.hexName {
  text-align: center; }

.arrows {
  font-size: 3rem;
  font-weight: 600;
  margin: auto 2rem;
  color: #bfbfbf; }

.reading {
  display: flex;
  justify-content: space-between; }

.reading-text {
  display: none; }

#reading-text {
  font-size: 125%;
  padding: 0 2rem;
  overflow: scroll;
  text-align: center;
  max-height: 25rem; }

.nav-arrow {
  display: none;
  font-size: 5rem;
  line-height: 50%; }

.nav-left {
  margin-left: 10%; }

.nav-right {
  margin-right: 10%; }

.dots {
  display: none;
  margin-top: 2rem;
  text-align: center; }

.cast-btn {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  align-content: center;
  font-weight: 300;
  font-size: 1.6rem;
  width: 19rem;
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid #bfbfbf;
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #bfbfbf;
  box-shadow: 0 1rem 2rem rgba(191, 191, 191, 0.2); }
  .cast-btn:hover {
    cursor: pointer; }
  .cast-btn::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .cast-btn:focus, .cast-btn:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(191, 191, 191, 0.2); }
  .cast-btn:disabled {
    color: grey; }

.line {
  width: 8rem;
  margin: 0 auto; }
  .line.old-yang {
    content: url(../assets/images/lines/old-yang-white.svg); }
  .line.old-yin {
    content: url(../assets/images/lines/old-yin-white.svg); }
  .line.young-yang {
    content: url(../assets/images/lines/young-yang-white.svg); }
  .line.young-yin {
    content: url(../assets/images/lines/young-yin-white.svg); }
