// THE LINES
$old-yang: '===&nbsp;o&nbsp;==='; // --- o --- changing
$old-yin: '====x===='; // --- x --- changing
$young-yang: '========='; // ---------
$young-yin: '===&nbsp;&nbsp;&nbsp;==='; // ---   ---

// COLORS
$color-black: rgba(30, 30, 30, 1);
$color-white: rgba(191, 191, 191, 1);
