@import "./variables";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 61.5%; 
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box; 
  color: whitesmoke
}

main {
  background-image: linear-gradient(to bottom, $color-primary-medium, $color-primary-dark);
  height: 100vh;
}

.header {
  border-bottom: 1px solid $color-white;
  width: 80%;
  margin: 0 auto
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  padding: 1rem 0;
}

.cast-area {
  width: auto;
  margin: 0 auto
}

input {
  display: block;
  padding: 1rem;
  margin: 2rem auto 1.5rem auto;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid $color-white;
  width: 19rem;


  &::placeholder {
    color: $color-white
  }

  &, text-area {
    background-color: $color-primary-light;
  }

  &:focus {
    outline: none
  }
}

.hexagrams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4rem auto;
  width: 75%;

  &.hexagram {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}

.arrows {
  font-size: 3rem;
  font-weight: 600;
  margin: auto 0;
  color: whitesmoke
}


.cast-btn {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  align-content: center;
  font-weight: 300;
  font-size: 1.6rem;
  width: 19rem;
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid whitesmoke;
  background-color: $color-primary;
  border-radius: 3px;
  color: whitesmoke;
  box-shadow: 0 1rem 2rem rgba($color-black, .2);

  &:hover {
    cursor: pointer;
  }
  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
  &:focus, 
  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }

  &:disabled {
    color: grey
  }
}

.line {
  width: 8rem;
  margin: 0 auto;

  &.old-yang {
    content: url(../assets/images/lines/old-yang.svg);
  }
  &.old-yin {
    content: url(../assets/images/lines/old-yin.svg);
  }
  &.young-yang {
    content: url(../assets/images/lines/young-yang.svg);
  }
  &.young-yin {
    content: url(../assets/images/lines/young-yin.svg);
  }

}