:root {
  // COLORS
  --color-1: rgb(30, 30, 30);
  --color-2: rgb(191, 191, 191);

  //LINES
  --old-yang: url(../assets/images/lines/old-yang-white.svg)
  --old-yin: url(../assets/images/lines/old-yin-white.svg)
  --young-yin: url(../assets/images/lines/young-yin-white.svg)
  --young-yang: url(../assets/images/lines/young-yang-white.svg)
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 61.5%;
}

body {
  letter-spacing: 2px;
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  color: var(--color-2);
}

main {
  background: var(--color-1);
  height: 100vh;
  position: relative;
}

.lightbulb-icon {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 2rem;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.fas {
  color: var(--color-2);
}

.far {
  color: var(--color-2);
}

.header {
  border-bottom: 1px solid var(--color-2);
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  padding: 1rem 0;
}

.cast-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  height: 70%;
  border: 1px solid var(--color-2);
  border-radius: 3px;
  margin: 2rem 10%;
  padding: 2rem;
}

input {
  display: block;
  padding: 1rem;
  margin: 2rem auto;
  color: var(--color-2);
  font-size: 1.6rem;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid var(--color-2);
  width: 19rem;

  &::placeholder {
    color: #777;
  }

  &,
  text-area {
    background-color: var(--color-1);
  }

  &:focus {
    outline: none;
  }
}

.hexagrams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hexagram-details-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.hex-details {
  font-size: 130%;
  width: 8rem;
  overflow-wrap: break-word;
}

.changed-hexagram-details {
  display: none;
  margin-left: 7rem;
}

.hexagram-lines-section {
  display: flex;
  justify-content: space-between;
}

.hex-lines {
  width: 8rem;
}

.changed-hexagram-lines {
  display: none;
}

.hexNum,
.hexName {
  text-align: center;
}

.arrows {
  font-size: 3rem;
  font-weight: 600;
  margin: auto 2rem;
  color: var(--color-2);
}

.reading {
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-direction: row;
}

.reading-text {
  display: none;
}

#reading-text {
  font-size: 125%;
  padding: 0 2rem;
  text-align: center;
  max-height: 25rem;
}

.text {
  margin: 1.5rem 0;
  overflow: scroll;
  max-height: 10rem;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
    height: 0rem;
  }

  &::-webkit-scrollbar-thumb {
    margin-top: 10rem;
    background-color: rgb(100, 100, 100);
  }
}

.nav-arrow {
  display: none;
  font-size: 5rem;
  line-height: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.nav-left {
  margin-left: 10%;
}
.nav-right {
  margin-right: 10%;
}

.dots {
  display: none;
  text-align: center;
}

.cast-btn {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  align-content: center;
  font-weight: 300;
  font-size: 1.6rem;
  width: 19rem;
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid var(--color-2);
  background-color: var(--color-1);
  border-radius: 3px;
  color: var(--color-2);
  box-shadow:  .2rem .5rem 2rem rgba(100, 100, 100, 0.3);

  &:hover {
    cursor: pointer;
  }

  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &:focus,
  &:active {
    outline: none;
    transform: translateY(1px);
    box-shadow: 0 0.2rem 1rem rgba(100, 100, 100, 0.3);
  }

  &:disabled {
    color: grey;
  }
}

.hexagram-lines-section.black > .hex-lines > .line {
  &.old-yang {
    content: url(../assets/images/lines/old-yang-black.svg);
  }
  &.old-yin {
    content: url(../assets/images/lines/old-yin-black.svg);
  }
  &.young-yang {
    content: url(../assets/images/lines/young-yang-black.svg);
  }
  &.young-yin {
    content: url(../assets/images/lines/young-yin-black.svg);
  }
}

.line {
  width: 8rem;
  margin: 0 auto;

  &.old-yang {
    content: url(../assets/images/lines/old-yang-white.svg);
  }
  &.old-yin {
    content: url(../assets/images/lines/old-yin-white.svg);
  }
  &.young-yang {
    content: url(../assets/images/lines/young-yang-white.svg);
  }
  &.young-yin {
    content: url(../assets/images/lines/young-yin-white.svg);
  }
}

@media only screen and (max-height: 750px) {
  .line {
    width: 7rem;
  }
}

@media only screen and (max-height: 700px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-height: 600px) {
  .text {
    max-height: 7rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}
